<%- include('./partials/header') -%>

<h1>Posts</h1>
<% if(posts.length == 0) { %>
    <h2>Crie um post no menu Compose.</h2>
<% } else { %>
    <% posts.forEach(function (post) { %>
        <a href= <%= post.postUrl %> class='postTittle'> <h2> <%= post.title %> </h2> </a>   
        <p> <%= post.content %> </p>  
    <% }) %>
<% } %>

<%- include('./partials/footer') -%>